[Desktop Entry]
Name=Samba Mounter
Name[ca]=Muntador per a Samba
Name[ca@valencia]=Muntador per a Samba
Name[nl]=Aankoppelprogramma voor samba
Name[pl]=Podpinanie Samby
Name[pt]=Montagem de Samba
Name[sk]=Samba Mounter
Name[sv]=Samba-montering
Name[uk]=Засіб монтування Samba
Name[x-test]=xxSamba Mounterxx
GenericName=Mounts Samba shares
GenericName[ca]=Comparticions de Samba muntades
GenericName[ca@valencia]=Comparticions de Samba muntades
GenericName[de]=Bindet Samba-Freigaben ein
GenericName[nl]=Koppelt samba shares aan
GenericName[pl]=Podpina zasoby Samby
GenericName[pt]=Monta partilhas de Samba
GenericName[sk]=Pripojí zdieľania Samby
GenericName[sv]=Monterar delade Samba-resurser
GenericName[uk]=Монтує спільні ресурси Samba
GenericName[x-test]=xxMounts Samba sharesxx
Exec=samba-onstart
Icon=
Type=Application
Terminal=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-DBUS-StartupType=Unique
X-KDE-UniqueApplet=true
NoDisplay=true
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
Comment=Mounts Samba shares at startup time
Comment[ca]=Comparticions de Samba muntades en temps d'inici
Comment[ca@valencia]=Comparticions de Samba muntades en temps d'inici
Comment[de]=Bindet Samba-Freigaben beim Systemstart ein
Comment[nl]=Koppelt samba shares aan bij opstarten
Comment[pl]=Podpina zasoby Samby przy uruchamianiu
Comment[pt]=Monta partilhas de Samba na altura do arranque
Comment[sk]=Pripojí Samba zdieľania pri spustení
Comment[sv]=Monterar delade Samba-resurser vid start
Comment[uk]=Монтує спільні ресурси Samba під час запуску системи
Comment[x-test]=xxMounts Samba shares at startup timexx
