[Desktop Entry]
Name=Samba Mounter
Name[ca]=Muntador per a Samba
Name[ca@valencia]=Muntador per a Samba
Name[cs]=Připojování Samba
Name[de]=Samba Mounter
Name[en_GB]=Samba Mounter
Name[es]=Montador Samba
Name[eu]=Samba muntatzailea
Name[fi]=Samba-liittäjä
Name[fr]=Monteur Samba
Name[gl]=Montador de Samba
Name[it]=Montatore Samba
Name[nl]=Aankoppelprogramma voor samba
Name[pl]=Podpinanie Samby
Name[pt]=Montagem de Samba
Name[pt_BR]=Montagem do Samba
Name[sk]=Samba Mounter
Name[sv]=Samba-montering
Name[tr]=Samba Bağlayıcı
Name[uk]=Засіб монтування Samba
Name[x-test]=xxSamba Mounterxx
Name[zh_TW]=Samba 掛載工具
GenericName=Mounts Samba shares
GenericName[ca]=Comparticions de Samba muntades
GenericName[ca@valencia]=Comparticions de Samba muntades
GenericName[de]=Hängt Samba-Freigaben ein
GenericName[en_GB]=Mounts Samba shares
GenericName[es]=Montar particiones Samba
GenericName[eu]=Samba partekatzeak muntatzen ditu
GenericName[fi]=Liittää Samba-jakoja
GenericName[fr]=Monte des partages Samba
GenericName[gl]=Monta comparticións de Samba
GenericName[it]=Monta le condivisioni Samba
GenericName[nl]=Koppelt samba shares aan
GenericName[pl]=Podpina zasoby Samby
GenericName[pt]=Monta partilhas de Samba
GenericName[pt_BR]=Monta compartilhamentos Samba
GenericName[sk]=Pripojí zdieľania Samby
GenericName[sv]=Monterar delade Samba-resurser
GenericName[tr]=Sampa paylaşımlarını bağlar
GenericName[uk]=Монтує спільні ресурси Samba
GenericName[x-test]=xxMounts Samba sharesxx
GenericName[zh_TW]=掛載 Samba 分享裝置
Exec=samba-onstart
Icon=
Type=Application
Terminal=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-DBUS-StartupType=Unique
X-KDE-UniqueApplet=true
NoDisplay=true
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
Comment=Mounts Samba shares at startup time
Comment[ca]=Comparticions de Samba muntades en temps d'inici
Comment[ca@valencia]=Comparticions de Samba muntades en temps d'inici
Comment[de]=Hängt Samba-Freigaben beim Systemstart ein
Comment[en_GB]=Mounts Samba shares at startup time
Comment[es]=Montar particiones Samba en el arranque
Comment[eu]=Samba partekatzeak abio garaian muntatzen ditu
Comment[fi]=Liittää Samba-jakojen käynnistyksen yhteydessä
Comment[fr]=Monte des partages Samba au démarrage
Comment[gl]=Monta comparticións de Samba ao iniciar o sistema.
Comment[it]=Monta le condivisioni Samba all'avvio
Comment[nl]=Koppelt samba shares aan bij opstarten
Comment[pl]=Podpina zasoby Samby przy uruchamianiu
Comment[pt]=Monta partilhas de Samba na altura do arranque
Comment[pt_BR]=Monta compartilhamentos Samba durante a inicialização
Comment[sk]=Pripojí Samba zdieľania pri spustení
Comment[sv]=Monterar delade Samba-resurser vid start
Comment[tr]=Samba paylaşımlarını, başlangıçta bağlar
Comment[uk]=Монтує спільні ресурси Samba під час запуску системи
Comment[x-test]=xxMounts Samba shares at startup timexx
Comment[zh_TW]=啟動時掛載 Samba 分享裝置
