[Desktop Entry]
Type=Application
Version=0.1
Name=Network Drives
Name[ar]=الأقراص الشبكية
Name[ca]=Unitats de xarxa
Name[ca@valencia]=Unitats de xarxa
Name[cs]=Sítové disky
Name[de]=Netzwerklaufwerke
Name[el]=Οδηγοί δικτύου
Name[en_GB]=Network Drives
Name[eo]=Retaj Diskingoj
Name[es]=Controladores de red
Name[et]=Võrgukettad
Name[eu]=Sareko unitateak
Name[fi]=Verkkolevyt
Name[fr]=Disques réseau
Name[gl]=Unidades de rede
Name[hi]=नेटवर्क ड्राइव्स
Name[ie]=Unités del rete
Name[it]=Dischi di rete
Name[ka]=ქსელური დისკები
Name[ko]=네트워크 드라이브
Name[nl]=Netwerkschijven
Name[nn]=Nettverksstasjonar
Name[pl]=Napędy sieciowe
Name[pt]=Unidades de Rede
Name[pt_BR]=Unidades de rede
Name[ro]=Unități de rețea
Name[ru]=Сетевые диски
Name[sk]=Sieťové disky
Name[sl]=Mrežni diski
Name[sv]=Nätverksdiskar
Name[tr]=Ağ Sürücüleri
Name[uk]=Диски у мережі
Name[x-test]=xxNetwork Drivesxx
Name[zh_CN]=网络驱动器
Name[zh_TW]=網路硬碟
GenericName=Network Drives
GenericName[ar]=الأقراص الشبكية
GenericName[ca]=Unitats de xarxa
GenericName[ca@valencia]=Unitats de xarxa
GenericName[cs]=Sítové disky
GenericName[de]=Netzwerklaufwerke
GenericName[el]=Οδηγοί δικτύου
GenericName[en_GB]=Network Drives
GenericName[eo]=Retaj Diskingoj
GenericName[es]=Controladores de red
GenericName[et]=Võrgukettad
GenericName[eu]=Sareko unitateak
GenericName[fi]=Verkkolevyt
GenericName[fr]=Disques réseau
GenericName[gl]=Unidades de rede
GenericName[hi]=नेटवर्क ड्राइव्स
GenericName[ie]=Unités del rete
GenericName[it]=Dischi di rete
GenericName[ka]=ქსელურ დისკები
GenericName[ko]=네트워크 드라이브
GenericName[nl]=Netwerkschijven
GenericName[nn]=Nettverksstasjonar
GenericName[pl]=Napędy sieciowe
GenericName[pt]=Unidades de Rede
GenericName[pt_BR]=Unidades de rede
GenericName[ro]=Unități de rețea
GenericName[ru]=Сетевые диски
GenericName[sk]=Sieťové disky
GenericName[sl]=Mrežni diski
GenericName[sv]=Nätverksdiskar
GenericName[tr]=Ağ Sürücüleri
GenericName[uk]=Диски у мережі
GenericName[x-test]=xxNetwork Drivesxx
GenericName[zh_CN]=网络驱动器
GenericName[zh_TW]=網路硬碟
Exec=systemsettings5 sambamount
Comment=Network Samba Drives
Comment[ar]=أقراص سامبا الشبكية
Comment[ca]=Unitats Samba de xarxa
Comment[ca@valencia]=Unitats Samba de xarxa
Comment[cs]=Sítové disky Samba
Comment[de]=Samba-Netzwerklaufwerke
Comment[el]=Οδηγοί δικτύου Samba
Comment[en_GB]=Network Samba Drives
Comment[eo]=Retaj Samba-Diskiloj
Comment[es]=Controladores de red Samba
Comment[et]=Samba võrgukettad
Comment[eu]=Sareko Samba unitateak
Comment[fi]=Verkon Samba-levyt
Comment[fr]=Disques réseau Samba
Comment[gl]=Unidades de Samba de rede.
Comment[hi]=नेटवर्क सांबा ड्राइव्स
Comment[ie]=Unités Samba del rete
Comment[it]=Dischi di rete Samba
Comment[ka]=Samba-ის ქსელური დისკების
Comment[ko]=네트워크 Samba 드라이브
Comment[nl]=Netwerkschijven voor samba
Comment[nn]=Samba nettverksstasjonar
Comment[pl]=Napędy sieciowe Samby
Comment[pt]=Unidades de Rede Samba
Comment[pt_BR]=Unidades de rede Samba
Comment[ro]=Unități de rețea Samba
Comment[ru]=Сетевые диски Samba
Comment[sk]=Sieťové Samba disky
Comment[sl]=Mrežni diski Samba
Comment[sv]=Samba-nätverksdiskar
Comment[tr]=Ağ Sabma Sürücüleri
Comment[uk]=Диски Samba у мережі
Comment[x-test]=xxNetwork Samba Drivesxx
Comment[zh_CN]=网络 Samba 驱动器
Comment[zh_TW]=網路 Samba 硬碟
Icon=preferences-system-network-sharing
Terminal=false
Categories=Qt;KDE;System;X-KDE-System-Desktop;
