[Desktop Entry]
Type=Application
Version=0.1
Name=Network Drives
Name[ca]=Unitats de xarxa
Name[ca@valencia]=Unitats de xarxa
Name[cs]=Sítové disky
Name[de]=Netzwerklaufwerke
Name[en_GB]=Network Drives
Name[es]=Controladores de red
Name[et]=Võrgukettad
Name[eu]=Sareko unitateak
Name[fi]=Verkkolevyt
Name[fr]=Disques réseau
Name[gl]=Unidades de rede
Name[it]=Dischi di rete
Name[ko]=네트워크 드라이브
Name[nl]=Netwerkschijven
Name[nn]=Nettverksstasjonar
Name[pl]=Napędy sieciowe
Name[pt]=Unidades de Rede
Name[pt_BR]=Unidades de rede
Name[sk]=Sieťové disky
Name[sl]=Mrežni diski
Name[sv]=Nätverksdiskar
Name[tr]=Ağ Sürücüleri
Name[uk]=Диски у мережі
Name[x-test]=xxNetwork Drivesxx
Name[zh_CN]=网络驱动器
Name[zh_TW]=網路硬碟
GenericName=Network Drives
GenericName[ca]=Unitats de xarxa
GenericName[ca@valencia]=Unitats de xarxa
GenericName[cs]=Sítové disky
GenericName[de]=Netzwerklaufwerke
GenericName[en_GB]=Network Drives
GenericName[es]=Controladores de red
GenericName[et]=Võrgukettad
GenericName[eu]=Sareko unitateak
GenericName[fi]=Verkkolevyt
GenericName[fr]=Disques réseau
GenericName[gl]=Unidades de rede
GenericName[it]=Dischi di rete
GenericName[ko]=네트워크 드라이브
GenericName[nl]=Netwerkschijven
GenericName[nn]=Nettverksstasjonar
GenericName[pl]=Napędy sieciowe
GenericName[pt]=Unidades de Rede
GenericName[pt_BR]=Unidades de rede
GenericName[sk]=Sieťové disky
GenericName[sl]=Mrežni diski
GenericName[sv]=Nätverksdiskar
GenericName[tr]=Ağ Sürücüleri
GenericName[uk]=Диски у мережі
GenericName[x-test]=xxNetwork Drivesxx
GenericName[zh_CN]=网络驱动器
GenericName[zh_TW]=網路硬碟
Exec=systemsettings5 sambamount
Comment=Network Samba Drives
Comment[ca]=Unitats Samba de xarxa
Comment[ca@valencia]=Unitats Samba de xarxa
Comment[cs]=Sítové disky Samba
Comment[de]=Samba-Netzwerklaufwerke
Comment[en_GB]=Network Samba Drives
Comment[es]=Controladores de red Samba
Comment[et]=Samba võrgukettad
Comment[eu]=Sareko Samba unitateak
Comment[fi]=Verkon Samba-levyt
Comment[fr]=Disques réseau Samba
Comment[gl]=Unidades de Samba de rede.
Comment[it]=Dischi di rete Samba
Comment[ko]=네트워크 Samba 드라이브
Comment[nl]=Netwerkschijven voor samba
Comment[nn]=Samba nettverksstasjonar
Comment[pl]=Napędy sieciowe Samby
Comment[pt]=Unidades de Rede Samba
Comment[pt_BR]=Unidades de rede Samba
Comment[sk]=Sieťové Samba disky
Comment[sl]=Mrežni diski Samba
Comment[sv]=Samba-nätverksdiskar
Comment[tr]=Ağ Sabma Sürücüleri
Comment[uk]=Диски Samba у мережі
Comment[x-test]=xxNetwork Samba Drivesxx
Comment[zh_CN]=网络 Samba 驱动器
Comment[zh_TW]=網路 Samba 硬碟
Icon=preferences-system-network-sharing
Terminal=false
Categories=Qt;KDE;System;X-KDE-System-Desktop;
