[Desktop Entry]
Type=Application
Version=0.1
Name=Network Drives
GenericName=Network Drives
Exec=kcmshell4 sambamount
Comment=Network Samba Drivers
Icon=preferences-system-network-sharing
Terminal=false
Categories=Qt;KDE;System;X-KDE-System-Desktop;
