[Desktop Entry]
Exec=kcmshell5 sambamount
Icon=preferences-system-network-sharing
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_sambamount
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=network

Name=Network Drivers
Name[ast]=Unidaes de rede
Name[ca]=Unitats de xarxa
Name[ca@valencia]=Unitats de xarxa
Name[cs]=Ovladače sítě
Name[de]=Netzwerktreiber
Name[en_GB]=Network Drivers
Name[es]=Controladores de red
Name[gl]=Controladores de rede
Name[nl]=Netwerkstuurprogramma's
Name[pl]=Napędy sieciowe
Name[pt]=Controladores da Rede
Name[sk]=Sieťové disky
Name[sv]=Nätverksdrivrutiner
Name[uk]=Диски у мережі
Name[x-test]=xxNetwork Driversxx

Comment=Configure mounts managed by Plasma instead of fstab
Comment[ast]=Configura los montaxes xestionaos por Plasma en cuentes de fstab
Comment[ca]=Configura els muntatges gestionats per Plasma en lloc del fstab
Comment[ca@valencia]=Configura els muntatges gestionats per Plasma en lloc del fstab
Comment[en_GB]=Configure mounts managed by Plasma instead of fstab
Comment[es]=Configurar que los montajes sean controlados por Plasma en lugar de fstab
Comment[gl]=Configurar montaxes xestionadas por Plasma en vez de fstab.
Comment[nl]=Stel aankoppelingen in beheerd door Plasma in plaats van fstab
Comment[pl]=Ustawienia udziałów podpiętych przez Plazmę, a nie fstab
Comment[pt]=Configura as montagens geridas pelo Plasma, em vez do 'fstab'
Comment[sk]=Nastaviť pripojenia spravované Plasmou namiesto fstab-u
Comment[sv]=Anpassa montering hanterade av Plasma istället för fstab
Comment[uk]=Налаштувати точки монтування, керовані Плазмою, а не fstab
Comment[x-test]=xxConfigure mounts managed by Plasma instead of fstabxx

X-KDE-Keywords=Samba,Mount,Fstab
X-KDE-Keywords[ast]=Samba,Montar,Montaxe,Fstab
X-KDE-Keywords[ca]=Samba,Muntatge,Fstab
X-KDE-Keywords[ca@valencia]=Samba,Muntatge,Fstab
X-KDE-Keywords[cs]=Samba,Mount,Fstab
X-KDE-Keywords[de]=Samba,Mount,Fstab
X-KDE-Keywords[en_GB]=Samba,Mount,Fstab
X-KDE-Keywords[es]=Samba, montaje, fstab
X-KDE-Keywords[gl]=Samba,Mount,Montar,Fstab
X-KDE-Keywords[nl]=Samba,Mount,Aankoppelen,Fstab
X-KDE-Keywords[pl]=Samba,Podpięcie,Fstab
X-KDE-Keywords[pt]=Samba,Montagem,Fstab
X-KDE-Keywords[sk]=Samba,Mount,Fstab
X-KDE-Keywords[sv]=Samba,montera,fstab
X-KDE-Keywords[uk]=Samba,Mount,Fstab,самба,монтування,фстаб
X-KDE-Keywords[x-test]=xxSambaxx,xxMountxx,xxFstabxx

Categories=Qt;KDE;X-KDE-settings-sambamount;
