[Desktop Entry]
Exec=kcmshell4 sambamount
Icon=preferences-system-network-sharing
Type=Service

X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_sambamount
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=network
X-KDE-System-Settings-Parent-Category=sharing

Name=Network Drivers

Comment=Configure mounts managed by KDE instead of fstab

X-KDE-Keywords=Samba,Mount,Fstab

Categories=Qt;KDE;X-KDE-settings-sambamount;
